@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"); /* Corrected font-family */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); /* Corrected font-family */
@import url("https://fonts.googleapis.com/css2?family=Agu+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", serif;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

/* classes for flex */
.flexCol {
  @apply flex flex-col  justify-center items-center;
}



.flexCol_mdRow {
  @apply flex flex-col md:flex-row justify-center items-center;
}


.flexRow {
  @apply flex justify-center items-center;
}

.hovers {
  display: none;

  transform: scale(0.8); /* Shrink the element slightly */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; /* Smooth transition */
  pointer-events: none; /* Prevent interaction when hidden */
}

.hovered:hover .hovers {
  display: flex;
  flex-direction: column;

  transform: scale(1); /* Return to original size */
  pointer-events: auto; /* Allow interaction */
}

.transi {
  @apply transition-all ease-in-out duration-500;
}

.z-index {
  z-index: 1000;
}

.hov{
  position: relative;
}
.hov:hover .hova {
  color: white;
}

.navs {
  @apply text-[1.2rem];
}

.linearbg {
  background: linear-gradient(
    240deg,
    rgba(0, 0, 0, 0.5) 20%,
    rgba(27, 30, 50, 0.8) 80%
  );
}

.names {
  font-family: "Montserrat", serif;
}

@media (max-width: 550px) {
  .footText {
    font-size: 12px;
  }
}
